html,
body {
	margin: 0;
	padding: 0;
	font-family: "Karla", sans-serif;
}

li,
a,
button {
	font-family: "Karla", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
}
