header {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 30px 10%;
	background-color: #ffffff;
	height: 20px;
}

.logo {
	cursor: pointer;
	margin-right: auto;
}

.nav__links {
	list-style: none;
}

.nav__links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav__links li a {
	color: #1e1711;
	transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
	color: #0088a9;
}

button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 9px 25px;
	background-color: #1e1711;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.login__button__text {
	margin: 0 10px 0 0;
}

button:hover {
	background-color: rgba(0, 136, 169, 0.8);
}
